* {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Got some help from w3schools.com */

#header {
  background-color: #d4caca;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #b3d4ef;
  color: #ffffff;
  text-align: center;
  margin: 2px;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
}

.show {
  display: block;
}

.btn {
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #0c0c0c;
  padding: 12px 16px;
  background-color: #e6c2c2;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.foooter {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 0px;
  background-color: #d4caca;
}
